body {
    width: 90%;
    max-width: 1000px;
    margin: 2em auto;
    font: .9em/1.2 Arial, Helvetica, sans-serif;
  }

  .one {
    border-radius: 15px;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    border: 5px solid rgb(0, 255, 47);
    height:400px;
  }
  .two {
    border-radius: 5px;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    border: 5px solid rgb(255, 255, 255);
  }
  .twoa{
    border-radius: 15px;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    border: 5px solid rgb(243, 235, 0);
    height:400px ;
    width:50px ;  
  }
  .twob{
    border-radius: 15px;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    border: 5px solid rgb(255, 136, 0);
    transform: translate(90px,-140px);
    height:100px ;
    width:100px ;  
  }
  .three {
    border-radius: 5px;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(255, 255, 255);
  }
  .threea {
    border-radius: 15px;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    border: 5px solid rgb(243, 235, 0);
    height: 50px;
  }
  .threeb {
    border-radius: 15px;
    padding: 15px;
    background-color: rgb(255, 255, 255);
    border: 5px solid rgb(255, 136, 0);
    height:100px ;
    width:100px ;
    transform: translate(0px, 10px);
  }

  .four {
    border-radius: 15px;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    border: 5px solid rgb(0, 255, 47);
  }

  .container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-auto-rows: minmax(400px, auto);
    gap: 1rem;
  }
